body{
    width: 100% !important;
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #main{
        margin: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        .content{
            margin: auto;
            padding: 5rem 2rem;
            max-width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            img{
                max-height: 20rem;
                width: 100%;
            }

            .text{
                margin: 3.2rem 0;
                padding: 0;

                p{
                    margin: 0;
                    padding: 0;
                    font:{
                        size: 1.6rem;
                        weight: $font-light;
                    }
                    text-align: center;
                    line-height: 1.5;
                }
            }
        }
    }

    footer{
        width: 100% !important;
    }

}