@media (max-width: 768px){
    html {
        font-size: 50%;
    }   

    // navbar
    #header{
    	.header_navbar{
    		.header_menu_section{
				.header_navbar_nav{
    				display: none;
    			}

    			.header_menu_section_toggle{
    				margin: 0;
    				padding: 0;
    				width: 32px;
    				height: 32px;

    				.header_menu_section_toggle_bar{
    					background-color: $color3;
    					height: 3px;
    					width: 100%;
    					margin: 6px auto;
    					transition-duration: .3s;
    				}
    			}
    		}
			.on{
				position: absolute;
				top: 0;
				left: 0;
				
				width: 100vw;
				height: 100vh;

				display: flex;
				justify-content: center;
				align-items: center;

				background-color: $color1;

				.header_navbar_nav{
					display: block;
				}

				.header_menu_section_toggle{
					position: absolute;
					top: 18px;
					right: 18px;

					& > .header_menu_section_toggle_bar:nth-child(1){
						transform: rotate(45deg) translate(9px, 9px);
					}

					& > .header_menu_section_toggle_bar:nth-child(2){
						opacity: 0;
					}

					& > .header_menu_section_toggle_bar:nth-child(3){
						transform: rotate(-45deg) translate(4px, -4px);
					}
				}

				.header_navbar_nav{
					.nav{
						flex-direction: column;	

						.nav-item{

							.nav-link{
								display: block;
								line-height: 5rem;
								transition-duration: .5s;
								font-size: 2.5rem !important;
							}
						}
					}
				}
			}	
    	}
    }
}